<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" th:action="@{/ex02/search}" th:object="${hotelForm}" method="post">
    <h1>ホテル検索</h1>
    <div th:errors="*{price}" style="color: red"></div>
    <input type="number" name="price" th:value="*{price}" id="price"> <span>円</span>
    <br>
    <button type="submit">検索</button>
</form>

<span th:if="${message}" th:text="${message}"></span>

<table border="1" th:each="hotel : ${hotels}">
    <tr>
        <td>ホテル名</td>
        <td th:text="${hotel.hotelName}"></td>
    </tr>
    <tr>
        <td>最寄駅</td>
        <td th:text="${hotel.nearestStation}"></td>
    </tr>
    <tr>
        <td>価格</td>
        <td th:text="${hotel.price}"></td>
    </tr>
</table>
</body>
</html>